p{
    text-align: justify;
    text-justify: inter-word;
    text-indent: 40px;
    font-size: 12pt;
}
.side-nav .divider{
    margin: 0px !important;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
  .collection .collection-item.active{
    background-color: #2848a7 !important;
  }

blockquote{
  position: relative;
}
blockquote i{
  position: absolute;
  top: -3px;
}